* {
    background-color: rgb(81, 133, 201);
    font-family: 'Times New Roman', Times, serif;
}

ul {
    text-align: center;
    list-style-type: none;
    font-variant: inherit;
    font-size: 18px;
    line-height: 25px;
    font-weight: 200;
    margin: auto;
}

li::first-letter {
    font-size: xx-large;
}


