.avatar.proportioned {
    height: 300px;
    width: 400px;
}

.avatar.distored {
    height: 200px;
    width: 400px;
}

.original.proportioned {
    height: 300px;
    width: 300px;
}

.original.distored {
    height: 200px;
    width: 400px;
}

