* {
    font-size: 28px;
    font-family: 'Times New Roman', Times, sans-serif;
}

#one {
    background-color: black;
    color: white;
    border: 2px;
}

#two {
    background-color: yellow;
    color: black;

}

